@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden !important;
}


.bg-radial-1{
background: radial-gradient(96.39% 787.3% at 14.54% 9.02%, #221B47 0%, rgba(34, 27, 71, 0) 100%);
}

.bg-radial-2{
  background: radial-gradient(453.27% 496.76% at 81.63% 17.58%, #1B2947 0%, rgba(34, 27, 71, 0) 100%);
}

.text-gradient{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #9F00FF 0%, #F200FF 27.83%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}